apiVersion: machineconfiguration.openshift.io/v1
kind: KubeletConfig
metadata:
  name: kubeletconfig-worker
spec:
  autoSizingReserved: true
  machineConfigPoolSelector:
    matchLabels:
      machineconfiguration.openshift.io/role: worker

