apiVersion: machineconfiguration.openshift.io/v1
kind: KubeletConfig
metadata:
  name: odf-worker-kubelet
spec:
  machineConfigPoolSelector:
    matchLabels:
      pools.operator.machineconfiguration.openshift.io/worker: ""
  kubeletConfig:
    allowedUnsafeSysctls:
      - "kernel.msg*"
    autoSizingReserved: true

